In [126]:
import pandas as pd
import numpy as np 
df = pd.read_csv('train.csv')

In [68]:
print(df.columns)
print(df.head())
df.dtypes
df.head(15)

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Product_Category_3', 'Purchase'],
      dtype='object')
   User_ID Product_ID Gender   Age  Occupation City_Category  \
0  1000001  P00069042      F  0-17          10             A
1  1000001  P00248942      F  0-17          10             A
2  1000001  P00087842      F  0-17          10             A
3  1000001  P00085442      F  0-17          10             A
4  1000002  P00285442      M   55+          16             C

  Stay_In_Current_City_Years  Marital_Status  Product_Category_1  \
0                          2               0                   3
1                          2               0                   1
2                          2               0                  12
3                          2               0                  12
4                         4+               0                   8

   Product_Category_2  Product_Category_3  Purchase
0                 NaN                 NaN      8370
1                 6.0                14.0     15200
2                 NaN                 NaN      1422
3                14.0                 NaN      1057
4                 NaN                 NaN      7969

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,NaN,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,17.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,NaN,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,NaN,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,NaN,NaN,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,NaN,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,NaN,NaN,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,NaN,NaN,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,5.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,14.0,5378

In [45]:
print(df.describe())

            User_ID     Occupation  Marital_Status  Product_Category_1  \
count  5.500680e+05  550068.000000   550068.000000       550068.000000
mean   1.003029e+06       8.076707        0.409653            5.404270
std    1.727592e+03       6.522660        0.491770            3.936211
min    1.000001e+06       0.000000        0.000000            1.000000
25%    1.001516e+06       2.000000        0.000000            1.000000
50%    1.003077e+06       7.000000        0.000000            5.000000
75%    1.004478e+06      14.000000        1.000000            8.000000
max    1.006040e+06      20.000000        1.000000           20.000000

       Product_Category_2  Product_Category_3       Purchase
count       376430.000000       166821.000000  550068.000000
mean             9.842329           12.668243    9263.968713
std              5.086590            4.125338    5023.065394
min              2.000000            3.000000      12.000000
25%              5.000000            9.000000    5823.000000
50%              9.000000           14.000000    8047.000000
75%             15.000000           16.000000   12054.000000
max             18.000000           18.000000   23961.000000

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 550068 entries, 0 to 550067
Data columns (total 11 columns):
User_ID                       550068 non-null int64
Product_ID                    550068 non-null object
Gender                        550068 non-null object
Age                           550068 non-null object
Occupation                    550068 non-null int64
City_Category                 550068 non-null object
Stay_In_Current_City_Years    550068 non-null object
Marital_Status                550068 non-null int64
Product_Category_1            550068 non-null int64
Product_Category_2            376430 non-null float64
Purchase                      550068 non-null int64
dtypes: float64(1), int64(5), object(5)
memory usage: 46.2+ MB

In [47]:
sum(df.apply(lambda x: sum(x.isnull().values), axis =1) > 0)

383247

In [48]:
print("Product_Category_2 which are null- ",sum(df['Product_Category_2'].isnull()))
print("Product_Category_3 which are null- ",sum(df['Product_Category_3'].isnull()))

Product_Category_2 which are null-  173638
Product_Category_3 which are null-  383247

In [49]:
df.corr()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
User_ID,1.000000,-0.023971,0.020443,0.003825,0.001529,0.003419,0.004716
Occupation,-0.023971,1.000000,0.024280,-0.007618,-0.000384,0.013263,0.020833
Marital_Status,0.020443,0.024280,1.000000,0.019888,0.015138,0.019473,-0.000463
Product_Category_1,0.003825,-0.007618,0.019888,1.000000,0.540583,0.229678,-0.343703
Product_Category_2,0.001529,-0.000384,0.015138,0.540583,1.000000,0.543649,-0.209918
Product_Category_3,0.003419,0.013263,0.019473,0.229678,0.543649,1.000000,-0.022006
Purchase,0.004716,0.020833,-0.000463,-0.343703,-0.209918,-0.022006,1.000000

In [50]:
print(len(df['Product_Category_3']))
print(df['Product_Category_3'].count())
print("Percentage of prod_cat 3 which are not null - ", df['Product_Category_3'].count()/len(df['Product_Category_3'])*100)
print("Percentage of prod_cat 2 which are not null - ", df['Product_Category_2'].count()/len(df['Product_Category_2'])*100)

550068
166821
Percentage of prod_cat 3 which are not null -  30.3273413469
Percentage of prod_cat 2 which are not null -  68.4333573304

In [51]:
#Product_categ_by_age = df[['Product_Category_2','Product_Category_3']].groupby(df['Age']).count().astype(int)
#print(Product_categ_by_age)

Product_categ_by_age = df['Age'].value_counts()
print(Product_categ_by_age)


Product_categ_2_null = df['Product_Category_2'].isnull().groupby(df['Age']).sum().astype(int)
print("Product_categ_2_null :", Product_categ_2_null)

Product_categ_3_null = df['Product_Category_3'].isnull().groupby(df['Age']).sum().astype(int)
print("Product_categ_3_null : ",Product_categ_3_null )

26-35    219587
36-45    110013
18-25     99660
46-50     45701
51-55     38501
55+       21504
0-17      15102
Name: Age, dtype: int64
Product_categ_2_null : Age
0-17      4454
18-25    30503
26-35    69427
36-45    34663
46-50    14691
51-55    12477
55+       7423
Name: Product_Category_2, dtype: int64
Product_categ_3_null :  Age
0-17      10229
18-25     68344
26-35    152645
36-45     76728
46-50     32327
51-55     27335
55+       15639
Name: Product_Category_3, dtype: int64

In [128]:
df.drop('Product_Category_3', axis =1, inplace = True)
df.columns

Index(['User_ID', 'Product_ID', 'Gender', 'Age', 'Occupation', 'City_Category',
       'Stay_In_Current_City_Years', 'Marital_Status', 'Product_Category_1',
       'Product_Category_2', 'Purchase'],
      dtype='object')

In [92]:
Product_Category_2_mean = df['Product_Category_2'].groupby(df['Age']).mean()
Product_Category_2_mean
#Product_Category_2_mean.loc['0-17']

Age
0-17      9.030334
18-25     9.470278
26-35     9.811388
36-45     9.954625
46-50    10.176459
51-55    10.281663
55+      10.464882
Name: Product_Category_2, dtype: float64

In [129]:
#https://stackoverflow.com/questions/13295735/how-can-i-replace-all-the-nan-values-with-zeros-in-a-column-of-a-pandas-datafra
df.loc[(df['Age']=='0-17'),'Product_Category_2']=df.loc[(df['Age']=='0-17'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['0-17']))
df.loc[(df['Age']=='18-25'),'Product_Category_2']=df.loc[(df['Age']=='18-25'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['18-25']))
df.loc[(df['Age']=='26-35'),'Product_Category_2']=df.loc[(df['Age']=='26-35'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['26-35']))
df.loc[(df['Age']=='36-45'),'Product_Category_2']=df.loc[(df['Age']=='36-45'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['36-45']))
df.loc[(df['Age']=='46-50'),'Product_Category_2']=df.loc[(df['Age']=='46-50'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['46-50']))
df.loc[(df['Age']=='51-55'),'Product_Category_2']=df.loc[(df['Age']=='51-55'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['51-55']))
df.loc[(df['Age']=='55+'),'Product_Category_2']=df.loc[(df['Age']=='55+'),'Product_Category_2'].fillna(int(Product_Category_2_mean.loc['55+']))
df

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,9.0,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,9.0,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,10.0,7969
5,1000003,P00193542,M,26-35,15,A,3,0,1,2.0,15227
6,1000004,P00184942,M,46-50,7,B,2,1,1,8.0,19215
7,1000004,P00346142,M,46-50,7,B,2,1,1,15.0,15854
8,1000004,P0097242,M,46-50,7,B,2,1,1,16.0,15686
9,1000005,P00274942,M,26-35,20,A,1,1,8,9.0,7871
10,1000005,P00251242,M,26-35,20,A,1,1,5,11.0,5254
11,1000005,P00014542,M,26-35,20,A,1,1,8,9.0,3957
12,1000005,P00031342,M,26-35,20,A,1,1,8,9.0,6073
13,1000005,P00145042,M,26-35,20,A,1,1,1,2.0,15665
14,1000006,P00231342,F,51-55,9,A,1,0,5,8.0,5378
15,1000006,P00190242,F,51-55,9,A,1,0,4,5.0,2079
16,1000006,P0096642,F,51-55,9,A,1,0,2,3.0,13055
17,1000006,P00058442,F,51-55,9,A,1,0,5,14.0,8851
18,1000007,P00036842,M,36-45,1,B,1,1,1,14.0,11788
19,1000008,P00249542,M,26-35,12,C,4+,1,1,5.0,19614
20,1000008,P00220442,M,26-35,12,C,4+,1,5,14.0,8584
21,1000008,P00156442,M,26-35,12,C,4+,1,8,9.0,9872
22,1000008,P00213742,M,26-35,12,C,4+,1,8,9.0,9743
23,1000008,P00214442,M,26-35,12,C,4+,1,8,9.0,5982
24,1000008,P00303442,M,26-35,12,C,4+,1,1,8.0,11927
25,1000009,P00135742,M,26-35,17,C,0,0,6,8.0,16662
26,1000009,P00039942,M,26-35,17,C,0,0,8,9.0,5887
27,1000009,P00161442,M,26-35,17,C,0,0,5,14.0,6973
28,1000009,P00078742,M,26-35,17,C,0,0,5,8.0,5391
29,1000010,P00085942,F,36-45,1,B,4+,1,2,4.0,16352
...,...,...,...,...,...,...,...,...,...,...,...
550038,1005995,P00375436,F,36-45,1,C,2,1,20,9.0,596
550039,1005996,P00371644,F,26-35,0,B,1,1,20,9.0,595
550040,1005997,P00370853,F,26-35,7,A,3,0,19,9.0,26
550041,1006000,P00371644,M,46-50,17,B,2,1,20,10.0,488
550042,1006002,P00371644,M,51-55,0,C,1,1,20,10.0,243
550043,1006003,P00370293,F,46-50,17,C,1,0,19,10.0,48
550044,1006004,P00370853,F,26-35,15,C,2,0,19,9.0,62
550045,1006005,P00371644,F,26-35,5,C,2,1,20,9.0,252
550046,1006006,P00375436,F,0-17,0,C,1,0,20,9.0,236
550047,1006009,P00372445,F,26-35,12,C,3,0,20,9.0,244
550048,1006010,P00371644,M,36-45,0,C,1,0,20,9.0,591
550049,1006011,P00375436,M,36-45,15,C,3,0,20,9.0,473
550050,1006012,P00371644,M,36-45,15,C,4+,1,20,9.0,368
550051,1006013,P00375436,F,26-35,20,C,3,0,20,9.0,489
550052,1006016,P00375436,M,46-50,1,B,1,1,20,10.0,239
550053,1006017,P00371644,F,36-45,7,B,1,0,20,9.0,371
550054,1006018,P00370293,M,36-45,1,C,3,0,19,9.0,60
550055,1006019,P00372445,M,26-35,0,A,4+,0,20,9.0,238
550056,1006022,P00375436,M,26-35,17,C,4+,0,20,9.0,254
550057,1006023,P00370853,M,26-35,0,C,2,1,19,9.0,61
550058,1006024,P00372445,M,26-35,12,A,0,1,20,9.0,121
550059,1006025,P00370853,F,26-35,1,B,1,0,19,9.0,48
550060,1006026,P00371644,M,36-45,6,C,1,1,20,9.0,494
550061,1006029,P00372445,F,26-35,1,C,1,1,20,9.0,599
550062,1006032,P00372445,M,46-50,7,A,3,0,20,10.0,473
550063,1006033,P00372445,M,51-55,13,B,1,1,20,10.0,368
550064,1006035,P00375436,F,26-35,1,C,3,0,20,9.0,371
550065,1006036,P00375436,F,26-35,15,B,4+,1,20,9.0,137
550066,1006038,P00375436,F,55+,1,C,2,0,20,10.0,365
550067,1006039,P00371644,F,46-50,0,B,4+,1,20,10.0,490

In [ ]:
df.frop(['User_ID')